$green:   #75B518 !default;
$blue:   #1C93D1 !default;
$primary: $green !default;
$success: $blue !default;
$border-radius: 20px;
$btn-border-radius: 20px;
$btn-border-radius-lg: 26px;
$btn-border-radius-sm: 16px;
$input-border-radius: 20px;
$input-border-radius-lg: 26px;
$input-border-radius-sm: 16px;

$btn-font-weight: 600;
