@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$font-family-sans-serif: 'Roboto', sans-serif;

@import "vars";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.modal-content{
    border-radius: $border-radius;
}

header{
    position: relative;
    background: url("/images/theme/header_bg.jpg") no-repeat center;
    background-size: cover;
    min-height: 100vh;

    .title{
        span{
            position: relative;
            display: block;
            &:after{
                content: '';
                display: block;
                position: absolute;
                width: 100px;
                height: 2px;
                background: $white;
                left: 0;
                bottom: -5px;
            }
            @include media-breakpoint-down(sm){
                font-size: 2.5rem;
            }
        }
    }
    .to_zk{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        a{
            display: inline-block;
            background: $white;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

.content{
    .heading{
        .title{
            span{
                position: relative;
                display: block;
                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100px;
                    height: 2px;
                    background: $blue;
                    left: 50%;
                    margin-left: -50px;
                    bottom: -5px;
                }
            }
        }
        .desc{

        }
    }

}

.zk_list{
    .card{
        border-radius: $border-radius;
        overflow: hidden;
        background: $gray-200;
        border: none;
        .img{
            height: 197px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .price{
            color: $green;
        }
        ul{
            li {
                padding-left: 20px;
                @extend .text-nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            li:before {
                content: "\F00C";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                display: inline-block;
                margin-left: -20px;
                position: absolute;
                font-size: 10px;
                margin-top: 6px;
            }
        }
    }
}

#work_block{
    color: $white;
    background: $green;

    .heading{
        .title{
            span{
                &:after{
                    background: $white;
                }
            }
        }
    }

    .items{
        .item{
            text-align: center;
            .h{
                span{
                    width: 50px;
                    height: 50px;
                    display: inline-block;
                    font-size: 52px;
                    line-height: 50px;
                    border-radius: 100%;
                    border: 1px solid $white;
                    i{
                        margin-top: 13px;
                        display: block;
                    }
                }
            }
        }
    }
    .work_block_btn{
        position: relative;
        padding-left: 50px;
        i{
            position: absolute;
            top: 12px;
            left: 15px;
        }
    }
}

#apparts_block{
    background: $gray-200;
    .items {
        .item {
            text-align: center;
            .img{
                width: 255px;
                height: 255px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-radius: 100%;
                overflow: hidden;

                @include media-breakpoint-down(lg){
                    width: 210px;
                    height: 210px;
                }
                @include media-breakpoint-down(md){
                    width: 255px;
                    height: 255px;
                }

            }
        }
    }
}

#form_block{
    color: $white;
    background: $blue;
}

footer{
    color: $white;
    background: $gray-700;
}
.powered{
    background: $gray-900;
}


//Home

//Complex

//Contacts
